body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#card {
  width: 480px;
  padding: 24px;
  background: white;
  box-shadow: 0 16px 8px 0px rgba(0, 0, 0, 0.2);
  border-left: 15px groove red;
}

#title {
  font-family: sans-serif;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

p {
  font-family: verdana;
  color: #323232;
}

#btn {
  border: none;
  padding: 8px 24px;
  margin-bottom: 12px;
  margin-right: 12px;
}

#btn:hover {
  background: red;
  color: white;
}